<nav class="page-nav">
  <div class="page-container ">
    <LinkTo @route="index" class="logo">
      TODOS
    </LinkTo>

    <LinkTo @route="create-todo" class="button pull-right">
      Добавить задачу
    </LinkTo>
  </div>
</nav>

<div class="page-container page-column">
  {{outlet}}
</div>

